.videoCard {

    width: 250px;
    margin:20px 10px;
}

.thumbnailImage {
    height: 140px;
    width: 250px;
}

.videoDetails {
   display: flex;
}

h4{
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}

.channelDetails {
    margin-left: 10px;
}